@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url='/Accounts/SignIn'" />
    <script>
        window.location.href = '/Accounts/SignIn';
    </script>
</head>
<body>
    Redirection...
</body>
</html>
